extends layout

block content
  br
  h1= name
    h2 Welcome to #{name}'s profile
    br
    p My dad has always taught me these words: care and share. That's why we put on clinics. The only thing I can do is try to give back.